.idea
*.iml
*.class
.idea/artifacts/Checklists_jar.xml
.idea/misc.xml
.idea/workspace.xml
out/artifacts/Checklists_jar/Checklists.jar
.idea/workspace.xml
.idea/artifacts/Checklists_jar.xml
.idea/misc.xml
.idea/workspace.xml
out/artifacts/Checklists_jar/Checklists.jar
out/production/Checklists/com/rscafidi/CheckList.class
out/production/Checklists/com/rscafidi/Item.class
out/production/Checklists/com/rscafidi/ItemFactory.class
out/production/Checklists/com/rscafidi/ListDriver.class
out/production/Checklists/com/rscafidi/Main.class
out/production/Checklists/com/rscafidi/ShoppingList.class
out/production/Checklists/com/rscafidi/ToDoItem.class
out/production/Checklists/com/rscafidi/ToDoList.class
out/production/Checklists/com/rscafidi/User.class
out/production/Checklists/META-INF/MANIFEST.MF
src/META-INF/MANIFEST.MF
*.MF
Checklists.iml
out/production/Checklists/com/rscafidi/CheckList.class
